<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Мой сайт</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h5> Человечество вырастает из детства.</h5>
    <h5> Человечеству мала одна планета.</h5>
    <h5> Мы сделаем обитаемыми безжизненные пока планеты.</h5>
    <h5> И начнем с Марса!</h5>
    <h5> Присоединяйся!</h5>

    <script src="script.js"></script>
  </body>
</html>